.wel{
    margin-top:80px;
}
.welcome{
    text-align: center;
    margin-top:80px;
}

.welb{
    margin-top:80px;
}

h1{
    font-family: Roboto;
    color: #004a8e;
    font-size: 18px;
    letter-spacing: 0.4em;
}

.signup{
    padding-top:1px;
    padding-left:15px;
    padding-right:15px;
}
.login{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    border-radius:15px;
}
ion-button{
    --background: #004a8e;
    --color:white;
}