<ion-content>
  <ion-grid *ngIf="marchentCount>0">
    <ion-row>
      <ion-col class="items-center icon-col">
        <span>
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="items-center text-col">
        <span class="bold-text"> Success</span>
      </ion-col>
    </ion-row>

    <ion-row class="extra-marign">
      <ion-col class="items-center text-col">
        <span class="order-message">You had placed the order successfully, and we are notified your request to
          {{marchentCount}} merchants</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="marchentCount==0">
    <ion-card style="height:100vh;">
      <img src="/assets/icon/Sorry.png" style="width: 100%;height: 50%;">
      <div style="margin-top:8px;">

        <ion-label style="text-align:center;font-size:14px;color:#004a8e;">
          <p> "No Pharmacy Found in your current location,Try choosing another Delivery Address?”</p>
          <br>
          <p style="text-align: center;color: #004a8e;">Thanks for choosing us Team MedV.</p>
        </ion-label>
      </div>
      <div style="text-align:center;margin-top:15px;">
        <ion-row>

          <ion-col>
            <ion-button style="text-transform: none;text-align:center;" (click)="onClick()">Try Another Address
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button style="text-transform: none;text-align:center;" (click)="Click()">Cancel</ion-button>
          </ion-col>
        </ion-row>

      </div>
    </ion-card>

  </div>


  <div *ngIf="marchentCount>0">
    <ion-row class="ion-padding button-class">
      <ion-col size="8" offset="2">
        <ion-button (click)="onClick()" expand="block" size="large">
          Go To Home
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>