<ion-header no-header>
  <ion-toolbar no-header no-border-top>
    <ion-buttons slot="start">
      <ion-back-button style="color:white;"></ion-back-button>

      <img routerLink="/transaction/tabs/home" src="assets/icon/Top-Nav-logo.png">
    </ion-buttons>
    <ion-title color="light">Change Password</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="margin-top:20px;">
    <form [formGroup]="myFormPassword" (ngSubmit)="submitPass()">
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input maxLength="10" formControlName="newPass" style="text-align:left;color:#c3c3c9"
                placeholder="new Password" maxLength="20" type="password"></ion-input>
            </ion-item>
            <div *ngFor="let validation of validation_messages.newPass">
              <ng-container style="color:white;font-size:13px;text-align:center"
                *ngIf="newPass.hasError(validation.type) && (newPass.dirty || newPass.touched)">
                <small class="error-message">{{ validation.message }}</small>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input maxLength="10" formControlName="confPass" style="text-align:left;color:#c3c3c9"
                placeholder="confirm Password" type="password"></ion-input>
            </ion-item>
            <div *ngFor="let validation of validation_messages.confPass">
              <ng-container style="color:white;font-size:13px;text-align:center"
                *ngIf="confPass.hasError(validation.type) && (confPass.dirty || confPass.touched)">
                <small class="error-message">{{ validation.message }}</small>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <ion-button [disabled]="!myFormPassword.valid" padding color="light" type="submit"
              style="text-transform:none;" outline="fill" expand="full">Update</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>