
<ion-header no-header>
  <ion-toolbar>
     <ion-buttons color="primary" slot="start">
      <ion-back-button  defaultHref="" (click)="back()"></ion-back-button>   
     </ion-buttons>
   <ion-title>Change Address</ion-title>
    
 
 </ion-toolbar> 
<ion-toolbar>
  <div class="map-wrapper">
    <div id="map_center">
      
    </div>
   <div #map id="map">
  
    </div>
   
  </div>
</ion-toolbar>
</ion-header>
<ion-content  [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling()"
(ionScrollEnd)="logScrollEnd()">
    <div>
        <ion-row style="border-bottom:1px solid grey;opacity:0.7;">
          <ion-col>
            <ion-label style="font-size:18px;font-weight:bold;color:black;">Select delivery location</ion-label>
             <div style="margin-top:0px;float:right">
                <ion-fab-button (click)="currentLocation()" style="height:30px;width:30px;">
                  <ion-icon style="font-size:18px;" name="locate"></ion-icon>
                </ion-fab-button>
             </div>
          </ion-col>
      
        </ion-row>
          <ion-row>
              <ion-col size-sm size-md size-lg size-xl>
                <small>
                   YOUR LOCATION</small>
              <p style="margin-top:4px;font-size:14px;font-weight:bold;color:black;"><ion-icon name="checkmark-circle" style="font-weight:bold;color:#004a8e;"></ion-icon>{{address}}</p>
              
             </ion-col>
            <ion-col size="3" size-sm size-md size-lg size-xl>
             <small></small> 
            <p (click)="presentModal()" style="margin-right:12px;margin-top:22px;float:right;font-size:13px;font-weight: bold;color:#004a8e">CHANGE</p>
        
            </ion-col>
          </ion-row>
          <ion-row *ngIf="hideConfirm">
            <ion-col>
              <ion-button [disabled]="confirmEnable" (click)="openAddress()" expand="full" style="text-transform:none">Confirm location & Proceed</ion-button>
            </ion-col>
          </ion-row>
    </div>
  <div *ngIf="showForm">
    
    <form *ngIf="newArray" [formGroup]="editForm" (ngSubmit)="saveAddress(newArray)"> 
      <div>
          <ion-grid>
              <ion-row>
                <ion-col style="border-bottom:1px solid rgb(77, 76, 76);opacity:0.5;">
                  <div>
                  <ion-label style="font-size:12px;">HOUSE/FLAT/BLOCK NO.</ion-label>
                  <ion-input style="font-weight:bold;margin-left:-8px;margin-top:-3px;" [(ngModel)]="newArray.Address" type="text" formControlName="Address" required> </ion-input>
                </div>
                  <div *ngFor="let validation of validation_messages.Address">
                    <ng-container *ngIf="Address.hasError(validation.type) && (Address.dirty || Address.touched)">
                      <small class="error-message">{{ validation.message }}</small>
                    </ng-container>
                  </div>
                </ion-col>
              
              </ion-row>
              <ion-row style="padding-top:4px;">
                  <ion-col style="border-bottom:1px solid rgb(78, 78, 78);opacity:0.5;">
                    <div>
                    <ion-label style="font-size:12px;">LANDMARK(For Better service)</ion-label>
                    
                    <ion-input  [(ngModel)]="newArray.LandMark" style="font-weight:bold;margin-left:-8px;margin-top:-3px;" type="text" (ngModelChange)="presentAlert($event)"  formControlName="LandMark" > </ion-input> 
                  
                  </div>
                    
                  </ion-col>
                
              </ion-row>
                <ion-row style="padding-top:4px;">
                  <ion-col style="border-bottom:1px solid rgb(70, 69, 69);opacity:0.5;">
                    <div>
                    <ion-label style="font-size:12px;">MOBILE NUMBER</ion-label>
                    
                    <ion-input style="font-weight:bold;margin-left:-8px;margin-top:-3px;" appPhoneMask type="tel" [(ngModel)]="newArray.MobNo" inputmode="number" onKeyPress="if(this.value.length==10){return false;}"
                    formControlName="MobNo"> </ion-input> 
                  
                  </div>
                  <div *ngFor="let validation of validation_messages.MobNo">
                      <ng-container *ngIf="MobNo.hasError(validation.type) && (MobNo.dirty || MobNo.touched)">
                        <small class="error-message">{{ validation.message }}</small>
                      </ng-container>
                    </div>
              
                  </ion-col>
                
                </ion-row>
                   
                  <ion-row>
                    <ion-col>
                        <ion-button padding-left padding-right style="text-transform:none" expand="full"  type="submit" share="round" color="primary"  [disabled]="!editForm.valid" >Save Address</ion-button>
                    </ion-col>
                  </ion-row>
          </ion-grid>
        </div>
        


    </form>
</div>
</ion-content>
