
    .cateImage{
         height: 30px;
        width: 40px;
        display: block;
        margin: auto;
    }
    .cateName{
        margin: 0px;
        text-align: center;
        font-size: 10px;
        color:#004a8e;
    }


    ion-label{
        font-size: 8px;
        line-break: auto;
        font-display: floor($number: 0);
        
    }
.catalog{
    width: 60px;
    height: 50px;
    border-radius: 50%;
}



    
