.menu-badge{
    font-size:9px;
    margin-left: -8px;
    position:relative;
    margin-top:4px;
    
    margin-bottom:15px;
    color:#ffffff;
   // background-color: rgb(39, 38, 38);
   background-color: red;
    padding:3px 4px;
    border-radius:50%;
  }
  
  
  
  .bottomRow
  {
    margin-top: -5px;
  }
  
  img{
    margin-top: -20px;
  }
  
  .bottom{
    margin-top: -20px;
  }
   
  .parent-div{
    margin-left:-12px;
    height:50px;
    width:100%
  }
  
  // ion-grid{
  //   height:100%;
  //   width:100%;
  // }
  .date-col{
    padding-right:10px;
    padding-left:10px;
    position:absolute;
    border-right:1px solid black;
    margin-top:-4px;
    height:38px;
  }
  .paragraph{
    font-size:8px;
    color:black;
    opacity:0.7;
  }
  .label-date{
    color:black;
    font-size:12px;
    font-weight:bold;
  }
  .order-col{
    position:relative;
    text-align:left;
    // border-right:1px solid black;
    margin-top:-4px;
    height:38px;
  }
  .order-label{
   margin-left: 18%;
    font-size:12px;
    color:black;
    font-weight:bold;
    text-align: center;
  }
  .distance-col{
    margin-top:4px;
    color:black;
    position:relative;
    text-align:left
  }
  .distance-label{
    font-size:12px;
    color:black;
    font-weight: bold;
    opacity:0.6;
  }
  .top{
    --background:rgba(112, 105, 105, 0.849);
    opacity:0.7;
    width:30px;
    height:30px;
   
   // text-align: center;
  
  }
  ion-fab{
    width:4px;
   // margin-left:50%;
    
  }
  
  
  // #grid {
  //   display: grid;
  //   height: 100px;
    
  //   row-gap: 0px;
  // }
  
  .wrapper-progressBar {
    width: 100%
  }
  
  ion-label{
  font-size: 11px !important;
  }
  
  .progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
    font-size:12px;
    
  }
  
  .progressBar li:before {
    content: " ";
   // line-height: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #373c4f;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white
  }
  
  .progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    color:#373c4f;
    background-color: #24d5e1;
    top: 5px;
    left: -50%;
    z-index: -1;
  }
  
  .progressBar li:first-child:after {
    content: none;
  }
  
  .progressBar li.active {
    color: #373c4f;
  }
  
  .progressBar li.active:before {
    border-color: #373c4f;
    background-color: #004a8e;
  }
  
  .progressBar .active:after {
    background-color: #24d5e1;
  }
  
  @media (min-width:560px){
  .paragraph{
    font-size: 12px !important;
  }
  }
  
  #map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
  }
  
  
  #address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  }
  
  #map {
  width: 100%;
  height: 30vh;
  }
  
  .map-wrapper {
  position: relative;
  
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
  }
  .back {
  --background:#004a8e;
  --color:white;
  }
  
  .active {
  --color: var(--ion-color-primary);
  --background: rgba(var(--ion-color-primary-rgb), 0.12);
  --background-hover: rgba(var(--ion-color-primary-rgb), 0.16);
  --background-focused: rgba(var(--ion-color-primary-rgb), 0.24);
  }
  
  ion-icon {
  color: inherit;
  }
  
  @media(min-width:560px){
  ion-grid{
    font-size: 12px !important;
  }
  }
  
  
  .box-opener {
  cursor: pointer;
  }
  
  .box {
  // background-color: #FFCC55;
  background-color: white;
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 400ms max-height;
  }
  
  .box.opened {
  max-height: 500px;
  transition: ease-in-out 600ms max-height;
  }
  .itemAmount{
    margin-left:10px;
    position:relative;
    text-align:right;
    font-size:12px;
    border: 1px solid rgb(187, 181, 181);
    margin-top:-3px;
    height:20px;
  }
  .amount{
    margin-left:4px;
    position:relative;
    text-align:right;
    font-size:12px;
    //border: 1px solid rgb(187, 181, 181);
    margin-top:-3px;
    height:20px;
  }
  .prescription{
    a:hover{
      color:red;
    }
    a:visited{
      color:#004a8e;
    }










    ion-content {
      background-color: #c0c0ff;
      .printable-content {
        margin: 16px;
        overflow-x: scroll;
        overflow-y: scroll;
        background-color: #ffffff;
        .printable-area {
          width: 595px;
          height: 540px;
          .header-table {
            background-color: #18AC52;
            margin: 2%;
            width: 96%;
            color: #ffffff;
            th, td {
              text-align: left;
              padding: 5px;
            }
            .title {
              padding: 5px 20px;
              font-size: 20px;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
          h1, h3 {
            margin-left: 10px;
          }
          h3 {
            margin-top: 20px;
          }
          .subheader-table {
            margin: 2%;
            width: 96%;
            td {
              vertical-align: top;
              dt {
                font-size: 11px;
                color: #999;
                margin-bottom: 5px;
              }
              dd {
                margin: 0;
              }
            }
            td:last-child {
              text-align: right;
              dd {
                font-size: 28px;
                font-weight: bold;
              }
            }
          }
          .detail-table {
            margin: 2%;
            width: 96%;
            border-top: 2px solid #CCC;
            border-bottom: 2px solid #CCC;
            th, td {
              padding: 5px;
            }
            th {
              border-bottom: 2px solid #CCC;
            }
            td:nth-child(2), td:nth-child(4) {
              text-align: right;
            }
            td:nth-child(3) {
              text-align: center;
            }
          }
          .footer-table {
            margin: 2%;
            width: 96%;
            td {
              padding: 5px;
              text-align: right;
              font-weight: bold;
            }
          }
        }
      }
    }
  }