<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button text="" defaultHref="/transaction/tabs/home"></ion-back-button>
      <img routerLink="/transaction/tabs/home" src="assets/icon/Top-Nav-logo.png">
    </ion-buttons>

    <ion-title style="font-size: 16px;">Order History</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling()"
  (ionScrollEnd)="logScrollEnd()">
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="listCount>0">
    <div *ngIf="orderDetails" class="parent-div" tappable>
      <div *ngFor="let item of orderDetails,let idx=index">
        <div>
          <ion-card style="padding-right:10px;padding-left:10px">
            <ion-grid>
              <ion-row>
                <ion-col align-self-start size="2">
                  <div class="date-col">
                    <ion-label class="label-date">
                      &nbsp;{{item.OrderDate |  date :  "dd"}}
                      <p class="inline-paragraph">
                        {{item.OrderDate |  date :  "MMM yy"}}</p>
                    </ion-label>
                  </div>
                </ion-col>

                <ion-col text-left size="5">
                  <div class="order-col">
                    <ion-label class="order-label">Invoice No - {{item.InvoiceMst_Id}}</ion-label>
                    <p style="color:#004a8e;font-size: 10px;margin-top: 4px;" (click)="checkPrescription(pres,item)">
                      View Order</p>
                  </div>
                </ion-col>

                <ion-col>
                  <div (click)="nextPage(item,idx)" class="distance-col">
                    <ion-label class="view-quote">View Invoice</ion-label>
                  </div>

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

        </div>

      </div>

    </div>
  </div>
  <div *ngIf="listCount==0">
    <ion-grid style="margin-top:50%;text-align:center;">
      <ion-row>
        <ion-col text-center>
          <ion-label style="font-size:16px!important;color:black;text-align:center">
          No records found
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>