input{
    width: 100%;
    text-align: center;
}
ion-row{
    >ion-col{
        &.remove-button{
            display: flex;
            justify-content: flex-end;
        }
        >ion-button{
            &.add-to-cart{
                height: 1.5rem;
                margin: 0 !important;
            }
        }
        >ion-row{
            >ion-col{
                display: flex;
                align-items: center;
                justify-content: center;
        
                &:first-child{
                    background-color:#c3FAFE;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child{
                    background-color: #c3FAFE;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
   
}
