
  <ion-card-content>
    <ion-row>
      <ion-col>
        <div class="upload-prescription-row">
          <div class="upload-prescription">
            <div class="title">
              <span style="color:  #3b3a3a;">{{title}}</span>&nbsp;&nbsp;
              <ion-button (click)="uploadPrescription()" style="margin-top: -10px;" size="small" shape="round" color="danger">
                Upload
              </ion-button>
            </div>
          </div>
        
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
