.prodeName{
    margin: 0px;
    text-align: left;
    font-size: 8px;
    color:#707172;
    font-weight: bold;
  

}


.prodalog{
    width: 40px;
    height: 50px;
   
}



.rate{
text-align: left;
color: crimson;
font-size: 10px;
}

.notification-badge {
    position: absolute;
    right: 5px;
    top: 5px;
  }

