<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="slidePage()"></ion-back-button>
      <img style="margin-top:0px;" src="assets/icon/Top-Nav-logo.png">
    </ion-buttons>
    <ion-title style="font-size: 16px;">ForgotPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="login">
      <form [formGroup]="myForm" (ngSubmit)="validateMobile()">
        <ion-item>

          <ion-input type="tel" maxLength="10" minLength="10" placeholder="enter yout mobile number"
            (ngModelChange)="showOtp($event)" appPhoneMask (keyup.enter)="validateMobile()" formControlName="mob"
            onKeyPress="if(this.value.length==10){return false;}">+91 |&nbsp; </ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.mob">
          <ng-container *ngIf="mob.hasError(validation.type) && (mob.dirty || mob.touched)">
            <small class="error-message">{{ validation.message }}</small>
          </ng-container>
        </div>
        <div *ngIf="errorMessage">
          <ng-container>
            <small class="error-message">Mobile number must have valid 10 digit.</small>
          </ng-container>
        </div>

        <div *ngIf="otpButtonDisabled" class="btn2">
          <ion-button class="btn1" id="password" br-data-dependency="password" type="submit" [disabled]="!myForm.valid"
            style="text-transform:none;" expand="block">Send Otp</ion-button>
        </div>

      </form>
    </div>

    <div *ngIf="otpNumberDisable" class="login1">
      <form [formGroup]="otpForm" (ngSubmit)="validateOtp()">
        <ion-item>
          <ion-input type="tel" appPhoneMask placeholder="enter otp" (keyup.enter)="validateOtp()" formControlName="otp"
            onKeyPress="if(this.value.length==6){return false;}"> </ion-input>
          <p (click)="resendOtp()" style="color:rgb(55, 150, 245);">Resend Otp</p>
        </ion-item>
        <div *ngFor="let validation of validation_messages.otp">
          <ng-container *ngIf="otp.hasError(validation.type) && (otp.dirty || otp.touched)">
            <small class="error-message">{{ validation.message }}</small>
          </ng-container>
        </div>
        <div *ngIf="otpErrorMessage">
          <ng-container>
            <small class="error-message">otp number must have valid 6 digit.</small>
          </ng-container>
        </div>

        <div class="btn2">
          <ion-button class="btn1" id="password" br-data-dependency="password" type="submit" [disabled]="!otpForm.valid"
            style="text-transform:none;" expand="block">Submit</ion-button>
        </div>
      </form>
    </div>
    <div *ngIf="displayNum" style="text-align:center" padding>
      <ion-label style="font-size:12px;color:black;">Otp has send to this number +91 {{mobileNumber}}</ion-label>
    </div>
  </div>

</ion-content>